/* Background Color */

.bg01 {
    background-color: #016087;
}

.bg02 {
    background-color: #212529;
}
.bg02a{
    background-color: #1d232f;
}

.bg03 {
    background-color: #fff;
}
.bg03a{
    background-color:#f6f6f6;
}

.bg04 {
    background-color: #faf0db;
}

.bg05 {
    background-color: #204a69;
}

.bg06 {
    background-color: #141517;
}

.txt-w {
    color: #fff;
}

.txt-b {
    color: black;
}

.txt-b01 {
    color: #23354b;
}

.txt-b02 {
    color: #016087;
}

.txt-b03 {
    color: #46799a;
}

.txt-b04 {
    color: #204a69;
}

.txt-p {
    color: #c96895;
}

.txt-g {
    color: #b0b5b8;
}
.txt-g01{
    color:#bbc9d5;
}
.txt-g02{
    color:#969ca1;
}
.txt-g03{
    color:#636d75;
}