@font-face {
    font-family: 'Recoleta';
    src: local('../fonts/Recoleta Medium'), local('Recoleta-Medium'),
        url('../fonts/Recoleta-Medium.woff2') format('woff2'),
        url('../fonts/Recoleta-Medium.woff') format('woff'),
        url('../fonts/Recoleta-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/noto-sans-v9-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Noto Sans'), local('NotoSans'), url('../fonts/noto-sans-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/noto-sans-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/noto-sans-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/noto-sans-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/noto-sans-v9-latin-regular.svg#NotoSans') format('svg');
    /* Legacy iOS */
}
.notoFont {
    font-family: 'Noto Sans';
}

.recoletaFont {
    font-family: 'Recoleta';
}
