/* Font sizes */
.f10 {
    font-size: 10px;
}

.f13 {
    font-size: 13px;
}

.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

.f19 {
    font-size: 19px;
}

.f20 {
    font-size: 20px;
}
.f24{
    font-size:24px;
}

.f32 {
    font-size: 32px;
}
.f40{
    font-size:40px;
}
.f48 {
    font-size: 48px;
}

.f56 {
    font-size: 56px;
}
.f60{
    font-size:60px;
}

.f72 {
    font-size: 72px;
}
.f88{
    font-size:88px;
}

.f96 {
    font-size: 96px;
}


/* Font Weight */
.f100{
    font-weight:100;
}
.f200{
    font-weight:200;
}
.f300{
    font-weight:300;
}
.f400{
    font-weight:400;
}
.f500{
    font-weight:500;
}
.f600{
    font-weight:600;
}
.f700{
    font-weight:700;
}

