/* Content Sections*/

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    padding: 6.8rem;
    position: relative;
    background-color: #016087;
}

.headTitle {
    z-index: 2;
}

.headlineImage {
    top: -20px;
    right: 35px;
    width: 332px;
    height: 332px;
    background-image: url("//s1.wp.com/wp-content/themes/h4/landing/marketing/pages/hp-jan-2019/media/headline-circle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
    position: absolute;
    background-size: cover;
    background-position: center center;
}

.watermarkLogo {
    content: url("//s1.wp.com/wp-content/themes/h4/landing/marketing/pages/hp-jan-2019/media/headline-w.svg");
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    overflow: inherit;
    margin: auto;
    width: 314px;
    height: 314px;
    z-index: 1;
}

.navLogo {
    fill: #fff;
    width: 170px;
}

.btn-pink {
    color: #fff;
    background: #d52c82;
    border-radius: 6px;
    border: 1px solid #d52c82;
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 0;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    padding: .5em 1.5em .55em;
}

.btn-pink:hover {
    opacity: 90%;
}

.btn-pink2 {
    color: #fff;
    border-color: #b7266a;
    background-color: #d52c82;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    line-height: 22px;
    letter-spacing: 0;
    width: 100%;
    border-radius: 4px;
    padding: 5px 6px 6px;
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

/* Section A */

.sectiona {
    background: radial-gradient(closest-side, rgba(29, 35, 47, 0), #1d232f), url("//s1.wp.com/wp-content/themes/h4/landing/marketing/pages/_common/media/jan-2019-texture.jpg");
    background-size: auto, auto;
    padding: 6rem 7%;
}

.freeCard {
    margin-left: 95px;
    color: #969ca1;
    background-color: rgb(52, 57, 68);
    border-radius: 6px;
    border-top: 9px solid rgba(255, 255, 255, .05);
    width: 320px;
    padding: 15px 24px;
}

.freeBtn {
    color: #fff;
    border-radius: 4px;
    border: 1px solid #b7266a;
    background-color: #d52c82;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    width: 100%;
    padding: 5px 6px 6px;
}

.freeBtn:hover {
    opacity: 90%;
}

.personalCard {
    background-color: #f6f6f6;
    border-radius: 4px;
    border-top: 9px solid #6795fe;
    width: 352.5px;
    padding: 18px 24px;
}

.personalBtn {
    color: #3d4145;
    border-radius: 4px;
    border: 1px solid #ccced0;
    background-color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    width: 100%;
    padding: 5px 6px 6px;
}

.personalBtn:hover {
    opacity: 90%;
}

.premiumCard {
    background-color: #f6f6f6;
    border-radius: 4px;
    border-top: 9px solid #e0bd56;
    width: 352.5px;
    padding: 15px 24px;
}

.premiumBtn {
    color: #fff;
    border-radius: 4px;
    border: 1px solid #ccced0;
    background-color: #d52c82;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    width: 100%;
    padding: 5px 6px 6px;
}

.premiumBtn:hover {
    opacity: 90%;
}

.businessCard {
    background-color: #f6f6f6;
    border-radius: 4px;
    border-top: 9px solid #e38a40;
    width: 352.5px;
    padding: 15px 24px;
}

.businessBtn {
    color: #3d4145;
    border-radius: 4px;
    border: 1px solid #ccced0;
    background-color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    width: 100%;
    padding: 5px 6px 6px;
}

.businessBtn:hover {
    opacity: 90%;
}

.eCommerceCard {
    background-color: #f6f6f6;
    border-radius: 4px;
    border-top: 9px solid #aa5fe6;
    width: 352.5px;
    padding: 15px 24px;
}

.eCommerceBtn {
    color: #3d4145;
    border-radius: 4px;
    border: 1px solid #ccced0;
    background-color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    width: 100%;
    padding: 5px 6px 6px;
}

.eCommerceBtn:hover {
    opacity: 90%;
}

.compareBtn {
    color: #f6f6f6;
    border-radius: 6px;
    border: 1px solid #636d75;
    cursor: pointer;
    padding: .5em 1.5em .55em;
    text-align: center;
}

.compareBtn:hover {
    opacity: 90%;
}

/* Section b */

.sectionb {
    padding: 8rem;
    overflow: hidden;
    background: #1d232f;
}

.centeredCards {
    margin: 48px -96px 0 380px;
}

.websiteBtn {
    color: #fff;
    background: #d52c82;
    border-radius: 6px;
    border: 1px solid #d52c82;
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 0;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    padding: .5em 1.5em .55em;
}

.websiteBtn:hover {
    opacity: 90%;
}

/* Section c */

.sectionc {
    width: 100%;
    padding: 6.8rem;
    position: relative;
}





/* Media Queries */
@media all and (min-width: 1024px) and (max-width: 1280px) {

 }

@media all and (min-width: 768px) and (max-width: 1024px) { }

@media all and (min-width: 480px) and (max-width: 768px) { }

@media all and (max-width: 480px) { 
    
}
