header {
  padding: 7.5rem 7%;
  position: relative;
  background-color: #016087;
}

.logo {
  height: 36px;
  fill: #fff;
}

.h1-span {
  display: block;
  font-size: 60px;
  color: #fff;
}

@media (max-width:443px) {
  header {
    padding: 2rem 7%;
  }
  .h1-span {
    font-size: 35px;
  }
  .shape-image {
    width: 681.33px;
    height: 340.587px;
  }
}

@media only screen and (max-width:766px) {
  .shape-image {
    background-image: url("../img/headline-rect");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width:1140px) {
  .h1-span {
    font-size: 48px;
  }
}

.h3-span {
  display: block;
  font-size: 20px;
  color: #bbc9d5;
}

.btn-pink {
  color: #fff;
  background: #d52c82;
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  border-radius: 6px;
  border: 1px solid #d52c82;
  margin: 0 auto;
  padding: .5em 1.5em .55em;
  transition: opacity .15s ease-out;
  -webkit-appearance: none;
}

.shape-image {
  top: -20px;
  width: 332px;
  height: 332px;
  float: right;
  position: relative;
  background-image: url("//s1.wp.com/wp-content/themes/h4/landing/marketing/pages/hp-jan-2019/media/headline-circle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  display: block;
  position: -20px;
  line-height: normal;
  z-index: auto;
}

/* Custom */

.bg-custom {
  background-color: #016087 !important;
}

.noto-font {
  font-family: 'Noto Sans';
}

.Recoleta-font {
  font-family: 'Recoleta';
}

.bold700 {
  font-weight: 700;
}